html {
  /* Smallest possible size */
  font-size: 10px;
}

html, body,
body > .ember-view {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.2rem;
}

body > .ember-view {
}

header, nav#drawer {
  background-color: #F0F0F0;
  font-size: 2rem;
  font-weight: bold;
}

@header_height: 6rem;

@hn_padding: 1rem;

header {
  border: 0px solid #e0e0e0;
  border-bottom-width: 0.2rem;
  height: @header_height;
  line-height: 4rem;
  margin-bottom: 1rem;
  position: relative;
  padding: @hn_padding;
  z-index: 10;
}

header div#left {
  float: left;
}

header div#right {
  float: right;
  padding-right: 1em;
}

nav#drawer {
  height: 100%;
  position: fixed;
  padding-top: @header_height;
  top: 0px;
  z-index: 1;
}

nav#drawer a {
  border: 0px solid #e0e0e0;
  border-bottom-width: 0.2rem;
  display: block;
  padding: @hn_padding;
  padding-right: @hn_padding * 5;
}

img.menu_icon {
  width: 3rem;
}

@media screen and (min-width: 320px) { 
  html { font-size: 12px; }
}

@media screen and (min-width: 480px) { 
  html { font-size: 14px; }
}

@media screen and (min-width: 768px) { 
  html { font-size: 16px; }
}

/*EOF*/
