html, body {
  font-size: 14px;
}

html, body,
body > .ember-view {
  height: 100%;
  width: 100%;
}

body > .ember-view {
}

@hn_padding: 1rem;

header, nav {
  background-color: #4F005E;
  font-size: 2rem;
  font-weight: bold;
  padding: @hn_padding;
}

@header_height: 6rem;

header {
  line-height: 4rem;
  height: @header_height;
  margin-bottom: 1rem;
  position: relative;
  z-index: 10;
}

nav {
  height: 100%;
  max-width: 60%;
  position: fixed;
  padding-right: @hn_padding * 5;
  padding-top: @hn_padding + @header_height;
  top: 0px;
  z-index: 1;
}

/*EOF*/
