<header>
  <div id="left">
    {{link-to "Menu" ""}}
  </div>

  <div id="right">
    {{#link-to "civil"}}
      <img src="img/pcivil.png" alt="protección civil" class="menu_icon">
    {{/link-to}}
  </div>

  <div style="clear: both;"></div>
</header>

{{outlet}}

<nav id ="drawer">
  {{#link-to "civil"}}
    <img src="img/pcivil.png" alt="protección civil" class="menu_icon">
    P. Civil
  {{/link-to}}
  {{link-to "Preferencias" "preferences"}}
  {{link-to "Ayuda" "help"}}
</nav>
