<header>
  <div id="left">
    <div id="menu" {{action "toggleDrawer"}}>Menu</div>
  </div>

  <div id="right">
    {{#link-to "messages"}}
    {{/link-to}}

    {{#nav-link label="" route="messages" action="shrinkDrawer"}}
      <img src="img/pcivil.png" alt="protección civil" class="menu_icon">
    {{/nav-link}}
  </div>

  <div style="clear: both;"></div>
</header>

<div id="app_outlet" class="container">
  <div id="header_placeholder"></div>

  {{outlet}}
</div>

{{view "drawer" id="drawer" isDrawerVisible=isDrawerVisible}}
