<div class="row alerts_controls">
  <div class="col-xs-12">
    <img src="img/checkmark.png" class="checkmark">
    todas 
  </div>
</div>

<hr>

{{#each}}

    {{#each entry in entries}}

      {{cap-entry entry=entry}}
   
    {{/each}}

{{/each}}
