
<div class="row">
  <div class="col-sm-6 col-lg-3">
    <h2>Contacto</h2>

    Sugerencias y problemas con la aplicación:
    <br>
    <textarea></textarea>
    <br>
    <button>Enviar</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-3">
    <h2>FAQ</h2>

    Para que sirve la linea 088?
    <br>
    Que puedo hacer para reportar una zona de riesgo?
    <br>
    Como puedo pedir ayuda?
  </div>
</div>
