<div id="map_filters" class="row">
  <div class="col-xs-4 map_filter">
    <img src="img/pcivil.png" class="icon">
  </div>
  <div class="col-xs-4 map_filter">
    <img src="img/alert.png" class="icon">
  </div>
  <div class="col-xs-4 map_filter">
    <img src="img/area.png" class="icon">
  </div>
</div>

<div class="row mfilters_toggle">
  <div class="mfilters_border"></div>
  <div class="mfilters_border"></div>
  <div class="mfilters_border_drag">...</div>
</div>

{{view "leaflet"}}
