<div id="map_filters" class="row">
    <div class="col-xs-6 map_filter">
    {{input type="checkbox"}} ver todas
  </div>
  <div class="col-xs-6 map_filter">
    {{input type="checkbox"}} ver en mi ubicación 
  </div>
</div>

<div class="row mfilters_toggle">
  <div class="mfilters_border"></div>
  <div class="mfilters_border"></div>
  <div class="mfilters_border_drag">...</div>
</div>

{{view "leaflet"}}
