<h2>Preferencias</h2>

<h3>Mi Ubicación</h3>

<div class="row">
  <div class="col-xs-12">
    <label>Ignorar ubicación: si</label>
    <br>
    recibirás todas las alertas y mensajes
  </div>

  <div class="col-xs-12">
    <label>Actualizar ubicación cada: 5 min</label>
  </div>

  <div class="col-xs-12">
    <label>En transito, destino: Torreon</label>
  </div>
</div>

<h3>Alertas y Mensajes</h3>

<div class="row">
  <div class="col-xs-12">
    <label>Almacenar máximo: 5 dias</label>
  </div>
  <div class="col-xs-12">
    <label>Mostrar leídos: si</label>
  </div>
</div>

<h3>Notificaciones</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <label>Vibrar</label>
  </div>
  <div class="col-xs-12 col-sm-4">
    <label>Timbrar</label>
  </div>
  <div class="col-xs-12 col-sm-4">
    <label>Led</label>
  </div>
</div>
