<h2>Preferencias</h2>

<h3>Mi Ubicaci칩n</h3>

<div class="row">
  <div class="col-xs-12">
    <label>Ignorar ubicaci칩n: si</label>
    <br>
    recibir치s todas las alertas y mensajes
  </div>

  <div class="col-xs-12">
    <label>Actualizar ubicaci칩n cada: 5 min</label>
  </div>

  <div class="col-xs-12">
    <label>En transito, destino: Torreon</label>
  </div>
</div>

<h3>Notificaciones</h3>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <label>Vibrar</label>
  </div>
  <div class="col-xs-12 col-sm-4">
    <label>Timbrar</label>
  </div>
  <div class="col-xs-12 col-sm-4">
    <label>Led</label>
  </div>
</div>
